page-home {
  ul{
    list-style: none;
    padding: 0;
    li{
      float: left;
      width: 25%;
      text-align: center;
      font-size: 25px;
      background: black;
      border: 1px solid white;
      color: white;
      padding: 1em 0px;
      text-transform: uppercase;
    }
  }
}
