<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>{{launch?.mission_name}}</h1>
  <img src="{{launch?.links.mission_patch}}" *ngIf="launch?.links.mission_patch!==null">
  <p *ngIf="launch?.details!==null">{{launch?.details}}</p>
  <h2 text-center>{{launch?.flight_number}}</h2>
  <p>Depart: {{date}}</p>
  <h3></h3>
</ion-content>
