<!--
  Generated template for the LaunchesPastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Last Launches</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
      <ion-searchbar (ionInput)="launchesNameFilter($event)"></ion-searchbar>
      <ion-item>
        <ion-range min="2000" max="2020" step="1" dualKnobs="true" pin="true" [(ngModel)]="dates" color="dark" (ionChange)="launchesDateFilter($event)">
          <ion-label range-left>{{dates.lower}}</ion-label>
          <ion-label range-right>{{dates.upper}}</ion-label>
        </ion-range>
      </ion-item>
    <ion-item>
      <ion-label>Succes ?</ion-label>
      <ion-icon name="close" item-right></ion-icon>
      <ion-toggle checked="false" color="secondary" (ionChange)="lanchesSuccesFilter($event)"></ion-toggle>
      <ion-icon name="checkmark" item-right></ion-icon>
    </ion-item>

  </div>
  <div class="main-content" (swipe)="swipe($event)">
    <ion-list>
      <button ion-item *ngFor="let launch of launches" (click)="launchDetail({ launchId: launch.flight_number })">
        <span *ngIf="launch?.launch_success; else inactive">
          <ion-badge color="secondary">&nbsp;</ion-badge>
        </span>
        <ng-template #inactive><ion-badge color="danger">&nbsp;</ion-badge></ng-template>
        {{ launch?.mission_name }} | {{ launch?.launch_year }}
      </button>
    </ion-list>
  </div>
</ion-content>
